@model IEnumerable<Producer>


@{
    ViewData["Title"] = "List of Producers";
}

@*Wrire Code*@

<div class="row">
    <div class="col-md-8 offset-md-2"> 
        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model=> model.ProfiilePictureURL)</th>
                    <th>@Html.DisplayNameFor(model=> model.Name)</th>
                    <th>@Html.DisplayNameFor(model=> model.Bio)</th>
                    <th>Actions</th>


                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
               {
                   <tr>
                       <td class="align-middle">
                           <img class="rounded-circle" src="@item.ProfiilePictureURL"alt="@item.Name" style="max-width : 150px" />
                       </td>
                       <td class="align-middle">
                           @Html.DisplayFor(modelItem => item.Name)
                       </td>
                       <td class="align-middle">
                         @Html.DisplayFor(modelItem => item.Bio)
                       </td>
                       <td class="align-middle">
                        <button type="button" class = "btn btn-outline-primary " aria-pressed="true"><i class="bi bi-pencil-square"></i> Edit </button>  
                        <button type="button" class = "btn btn-outline-info "><i class="bi bi-eye"></i> Details </button>    
                        <button type="button" class = "btn btn-danger "><i class="bi bi-trash"></i> Delete </button>    

                       </td>

                   </tr>
               }
            </tbody>
           

        </table>

    </div>

</div>
<div   class="text-white">
    <a asp-controller="Producers" asp-action="Create" class="btn  btn-success">
        <i class="bi bi-plus-circle"></i>Add New
    </a>
</div>
